@import '../../styles/config';

.Header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  font-weight: 700;
  background-color: $transparent;
  box-shadow: none;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  .headerContainer {
    height: 70px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: margin-top 0.3s ease;
  }

  &.scroll {
    background-color: $white;
    box-shadow: 0 0 5px $shadow;

    .headerContainer {
      margin-top: 0;
    }
  }

  .navigationBar {
    
    // Links
    & > * {
      position: relative;
      color: $main-dark-gray
    }
      
    & > * + * { margin-left: 20px; }

    &.home > :nth-of-type(1),
    &.portfolio > :nth-of-type(2),
    &.profile > :nth-of-type(3) {
      &:after {
        content: '';
        position: absolute;
        z-index: 10;
        height: 5px;
        bottom: -12px;
        left: 0;
        right: 0;

        background: linear-gradient(
          90deg,
          hsl(167deg, 92%, 20%),
          hsl(136deg, 94%, 40%)
        );
      }
    }
  }

  .toggle {
    display: block;
    width: 40px;
    height: 40px;
    background: rgb(53, 53, 53);
    border-radius: 50%;

    margin-left: auto;
  }
}