@import '../../styles/config';

.technologyTag {
  display: inline-block;
  padding: 0 14px;
  border: 2px solid $gray ;
  border-radius: 18px;
  color: $gray ;
  line-height: 32px;

  &:hover {
    color: $green2;
    border-color: $green2;
  }
}