@import '../../styles/config';

.Profile {
  min-height: calc(100vh - 263px);

  .layer {
    position: relative;
    z-index: 0;
    background: $transparent;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding-top: 100px;
  }

  .contentWrapper {
    position: relative;
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .mainTitle {
    font-size: 36px;
    text-align: center;
  }

  .pictureWrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    border-radius: 50%;
    padding: 10px;
    background-color: $white;
  }

  .pictureLayer {
    padding-top: 100%;
    position: relative;
    border-radius: inherit;
    box-shadow: 0 1px 5px 0 $shadow;
    overflow: hidden
  }

  .pitureContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .myPicture {
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }



  @include medium {

    .layer { height: 400px; }

    .contentWrapper {
      padding-top: 100px;
      padding-bottom: 120px;
    }

    .mainTitle { font-size: 42px; }
  }
}