@layer defaults.typography {
  /************** Popins **************/
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Poppins/poppins-v21-latin-ext-300.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Poppins/poppins-v21-latin-ext-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Poppins/poppins-v21-latin-ext-500.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Poppins/poppins-v21-latin-ext-600.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Poppins/poppins-v21-latin-ext-700.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Poppins/poppins-v21-latin-ext-800.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/Poppins/poppins-v21-latin-ext-900.woff2') format('woff2');
  }

  /************** Fira Code **************/
  @font-face {
    font-display: swap;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/FiraCode/fira-code-v22-latin-ext-300.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/FiraCode/fira-code-v22-latin-ext-regular.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/FiraCode/fira-code-v22-latin-ext-500.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/FiraCode/fira-code-v22-latin-ext-600.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/FiraCode/fira-code-v22-latin-ext-700.woff2') format('woff2');
  }
}