@use "#styles/mixins" as mixins;

.MockupViewer {
  position: relative;
  padding-top: 50%;

  .mockup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @include mixins.tablet {
    position: relative;
    padding-top: 60%;
  }
}