@import '../../styles/config';

.SplahScreen {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $green;
  
  will-change: opacity;
  transition: opacity 1s ease 1s; // un segundo en total

  .layer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 25px));
    
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 0 0 0 50px $white2;
    background-color: $white2 ;
  
    will-change:
      opacity,
      transform,
      box-shadow;
    
    animation: verticalMove 2s ease-in-out 0s infinite;

    transition:
      box-shadow 0.5s ease 0.5s;    // un segundo en total
  }

  &.loaded {
    opacity: 0;

    .layer {
      animation-play-state: paused;
      box-shadow: 0 0 0 140vmax $white2;
    }
  }
}

@keyframes verticalMove {
  0% { transform: translate(-50%, calc(-50% + 25px)); }
  50% { transform: translate(-50%, calc(-50% - 25px)); }
  100% { transform: translate(-50%, calc(-50% + 25px)); }
}