@import '../../../../styles/config';

.subtitle {
  @include subtitle;
}

.technologyGrid {
  --min-column-size-mobile: 120px;
  --min-column-size-desktop: 190px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--min-column-size-mobile), 1fr)
  );
  gap: 24px;
  
  @include mediumScreen {
    grid-template-columns: repeat(
      auto-fit, 
      minmax(var(--min-column-size-desktop), 1fr)
    );
  }
}