.TechnologyTag {
  display: inline-grid;
  place-items: center;
  height: 32px;
  padding-inline: 10px;
  border-radius: 5px;
  font-weight: 500;
  color: var(--color-gray);
  background-color: var(--color-white);
  overflow: hidden;
  box-shadow: var(--shadow-1);
}