@import '../../styles/config';

.Home {
  // GENERAL
  .sectionTitle {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: $dark-gray;

    @include medium {
      text-align: left;
    }
  }

  /* MAIN SECTION
   ===============================*/
  .mainSection {
    position: relative;
    z-index: 0;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    background-color: $transparent;

    // Container Component
    & > [class*="Container"] { width: 100%; }

    .sectionWrapper {
      position: relative;
      z-index: 0;
      width: 60%;
      min-width: fit-content;
      height: 100%;
      display: flex;
      align-items: flex-end;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 25px;
    }

    .frostedLayer {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 200%;
      background-color: $light-frosted-layer;
    }

    .infoWrapper { width: 100%; }

    .mainTitle {
      margin-bottom: 10px;
      font-size: 12.5vw;
      line-height: 11vw;
      font-weight: 900;

      // text overlay gradient
      background-color: $dark;
      background: linear-gradient(
        90deg,
        $light-gradient-1,
        $light-gradient-2
      );
      background-clip: text;
      -webkit-text-fill-color: $transparent;
    }

    .techRol {
      font-size: 5.5vw;
      line-height: 4vw;
      letter-spacing: 0;
      font-weight: 400;
      color: $dark-gray;
      margin-bottom: 50px;
    }

    .socialLinks {
      text-align: center;
    
      // links
      svg {
        height: 26px;
        fill: $green;
        cursor: pointer;
        transition: fill 0.3s ease;
  
        &:hover { fill: $light-aurora-3; }
      }
    }

    @include small {
      .mainTitle {
        font-size: 68px;
        line-height: 60px;
      }

      .techRol {
        font-size: 30px;
        line-height: 24px;
      }
    }

    @include medium {
      .sectionWrapper { padding-right: 50px; }

      .sectionContainer { padding-right: 50px; }

      .mainTitle {
        font-size: 90px;
        line-height: 80px;
      }

      .techRol {
        margin-bottom: 70px;
        font-size: 42px;
        line-height: 32px;
        letter-spacing: -1.7px;
      }

      .socialLinks { text-align: left; }
    }
  }

  
  /* TECH SKILLS SECTION
   ===============================*/
  .sectionTechSkills {
    background-color: $white;

    .sectionWrapper {
      padding-top: 70px;
      padding-bottom: 80px;
    }

    .tecnologies {
      display: grid;
      // grid-template-rows: repeat(5, auto);
      grid-auto-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px;
    }
    
    @include medium {
      .tecnologies { grid-template-columns: repeat(3, 1fr); }
    }

    @include large {
      .sectionWrapper {
        padding-top: 100px;
        padding-bottom: 120px;
      }
  
      .tecnologies { grid-template-columns: repeat(5, 1fr); }
    }
  }


  /* PORTFOLIO SECTION
   ===============================*/
  .portfolioSection {
    background-color: $white2;

    .sectionWrapper {
      padding-top: 70px;
      padding-bottom: 50px;
    }

    .more { margin-top: 80px; }

    @include large {
      .sectionWrapper {
        padding-top: 100px;
        padding-bottom: 70px;
      }
    }
  }

  /* CONTACT SECTION
  ===============================*/
  .contactSection {
    .sectionWrapper {
      padding-top: 30px;
      padding-bottom: 80px;
    }
  
    .contactFormWrapper {
      width: 100%;
    }

    @include medium {
      .contactFormWrapper { width: 50%; }
    }

    @include large {
      .sectionWrapper {
        padding-top: 60px;
        padding-bottom: 120px;
      }
    }
  }

  

}