@import '../../styles/config';

.ProjectSummary {

  &:first-of-type ~ & { margin-top: 60px; }

  .mockupWrapperDesktop {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  .mockupWrapperMobile {
    overflow: hidden;
  }

  .inforWrapper {
    & > :first-child ~ * {
      margin-top: 25px;
    }
  }

  .info{
    display: grid;
    row-gap: 5px;
  }

  .projectTitle {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  .label {
    font-weight: 700;
  }

  .techStack {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;

    > * {
      flex-grow: 1;
      text-align: center;
    }

    .label { flex-grow: 0 }
  }

  .buttonsWrapper {
    & > :first-child { margin-bottom: 25px; }
  }

  @include smallScreen {
    .inforWrapper {
      & > :first-child ~ * {
        margin-top: 20px;
      }
    }

    .buttonsWrapper {
      display: flex;

      & > * { flex-basis: 50%; }

      & > :first-child {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
  }

  @include mediumScreen {
    display: flex;
    align-items: center;

    &:first-of-type ~ & { margin-top: 80px; }
    
    &:nth-of-type(2n - 1) > :first-child { margin-right: 20px; }

    &:nth-of-type(2n) {
      flex-direction: row-reverse;

      & > :first-child { margin-left: 25px; }
    }

    .mockupWrapperDesktop {
      width: auto;
      height: auto;
      visibility: visible;
      flex-basis: 50%;
    }

    .mockupWrapperMobile {
      width: 0;
      height: 0;
      visibility: hidden;
      position: absolute;
      z-index: -99;
    }

    .inforWrapper {
      flex-basis: 50%;
    }

    .projectTitle {
      text-align: left;
      font-size: 28px;
    }
  }
}