html * {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: $transparent;

  ::selection { background-color: $green3; }
}

html,
body {
  min-width: 320px;
  min-height: 100vh;
  overflow-X: hidden;
  background-color: $white2;
  line-height: 28px;
}

:root {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $gray;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  font-family: 'Poppins';
  font-weight: bold;
  color: $darkGray;
}

img,
figure {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

abbr[title] { text-decoration: none; }

strong { font-weight: bold; }