$fontsPath: '/fonts';
$poppinsPath: '#{$fontsPath}/Poppins';
// $openSansPath: '#{$fontsPath}/OpenSans';
$firaCodePath: '#{$fontsPath}/FiraCode';

/* Popins
========================================*/
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src:
    url('#{$poppinsPath}/poppins-v15-latin-300.woff') format('woff'),
    url('#{$poppinsPath}/poppins-v15-latin-300.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src:
    url('#{$poppinsPath}/poppins-v15-latin-regular.woff') format('woff'),
    url('#{$poppinsPath}/poppins-v15-latin-regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src:
    url('#{$poppinsPath}/poppins-v20-latin-500.woff') format('woff'),
    url('#{$poppinsPath}/poppins-v20-latin-500.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src:
    url('#{$poppinsPath}/poppins-v20-latin-600.woff') format('woff'),
    url('#{$poppinsPath}/poppins-v20-latin-600.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src:
    url('#{$poppinsPath}/poppins-v15-latin-800.woff') format('woff'),
    url('#{$poppinsPath}/poppins-v15-latin-800.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src:
    url('#{$poppinsPath}/poppins-v15-latin-900.woff') format('woff'),
    url('#{$poppinsPath}/poppins-v15-latin-900.ttf') format('truetype');
  font-display: swap;
}

/* Fira Code
========================================*/
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src:
    url('#{$firaCodePath}/fira-code-v21-latin-300.woff') format('woff'),
    url('#{$firaCodePath}/fira-code-v21-latin-300.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src:
    url('#{$firaCodePath}/fira-code-v21-latin-regular.woff') format('woff'),
    url('#{$firaCodePath}/fira-code-v21-latin-regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src:
    url('#{$firaCodePath}/fira-code-v21-latin-500.woff') format('woff'),
    url('#{$firaCodePath}/fira-code-v21-latin-500.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src:
    url('#{$firaCodePath}/fira-code-v21-latin-600.woff') format('woff'),
    url('#{$firaCodePath}/fira-code-v21-latin-600.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 800;
  src:
    url('#{$firaCodePath}/fira-code-v21-latin-700.woff') format('woff'),
    url('#{$firaCodePath}/fira-code-v21-latin-700.ttf') format('truetype');
  font-display: swap;
}