@import '../../styles/config';

.Home {
  // GENERAL
  .sectionTitle {
    font-size: 36px;
    // font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    color: hsl(167, 92%, 15%);

    @include medium {
      text-align: left;
    }
  }

  // MAIN SECTION
  .mainSection {
    position: relative;
    z-index: 0;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    background-color: $transparent;

    // Container Component
    & > [class*="Container"] {
      width: 100%;
    }

    .sectionWrapper {
      position: relative;
      z-index: 0;
      width: 60%;
      min-width: fit-content;
      height: 100%;
      display: flex;
      align-items: flex-end;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 25px;
    }

    .frostedLayer {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 200%;
      background-color: hsla(0, 0%, 100%, 0.6);
    }

    .infoWrapper { width: 100%; }

    .mainTitle {
      margin-bottom: 10px;
      font-size: 12vw;
      line-height: 10.6vw;
      font-weight: 900;

      // text overlay gradient
      background-color: $dark;
      background: linear-gradient(
        90deg,
        hsl(167deg, 92%, 20%),
        hsl(136deg, 94%, 40%)
      );
      background-clip: text;
      -webkit-text-fill-color: $transparent;
    }

    .techRol {
      font-size: 5vw;
      line-height: 4vw;
      letter-spacing: 0;
      font-weight: 800;
      color: $main-dark-gray;
      margin-bottom: 50px;
    }

    .socialLinks { text-align: center; }

    .link {
      height: 26px;
      fill: hsl(167deg, 92%, 20%);
      cursor: pointer;

      &:hover { fill: hsl(167deg, 92%, 30%); }

      &:first-child ~ * { margin-left: 30px; }
    }

    @include small {
      .mainTitle {
        font-size: 68px;
        line-height: 60px;
      }

      .techRol {
        font-size: 28px;
        line-height: 24px;
      }
    }

    @include medium {
      .sectionContainer { padding-right: 50px; }

      .mainTitle {
        font-size: 90px;
        line-height: 80px;
      }

      .techRol {
        margin-bottom: 70px;
        font-size: 40px;
        line-height: 32px;
        letter-spacing: -1.7px;
      }

      .socialLinks { text-align: left; }
    }
  }

  
  // SECCION TECH SKILLS
  .sectionTechSkills {
    background-color: hsl(0, 0%, 100%);

    .sectionWrapper {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .tecnologies {
      display: grid;
      // grid-template-rows: repeat(5, auto);
      grid-auto-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px;
    }
    
    @include medium {
      .tecnologies { grid-template-columns: repeat(3, 1fr); }
    }

    @include large {
      .tecnologies { grid-template-columns: repeat(5, 1fr); }
    }
  }


  // SECCION DE PROYECTOS
  .portfolioSection {
    background-color: hsl(0, 0%, 95%);

    .sectionWraper {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .more { margin-top: 100px; }
  }

  // SECCION DE INTERESES

}