@use "#styles/mixins" as mixins;

%section {
  position: relative;
  padding: 60px 0;

  @include mixins.tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.PageSection {
  @extend %section;
  background-color: var(--color-white2);

  & + & { padding-top: 0; }
}


.PageSection2 { 
  @extend %section;
  background-color: var(--color-white);

  & + & { padding-top: 0; }
}