@use "#styles/mixins" as mixins;

.TechnologyBlock {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 12px 12px;
  background-color: var(--color-white2);
  overflow: hidden;
  border-left: solid 4px var(--color-green);
  box-shadow: 0 2px 4px var(--color-shadow);

  .logoWrapper {
    display: flex;
    align-items: center;
    margin-right: 0;
  }
  
  .logo {
    max-height: 40px;
    height: 100%;
    width: 100%;
  }
  
  .label {
    flex-grow: 1;
    text-align: left;
    font-weight: 700;
    margin-top: 12px;
    line-height: 18px;
  }

  @include mixins.tablet {
    flex-direction: row;
    
    .logoWrapper { margin-right: 10px; }
    
    .label { margin-top: 0; }
  }
}
