@use "#styles/mixins" as mixins;

.MainSection {
  position: relative;
  z-index: 0;
  display: flex;
  overflow: hidden;
  background-color: var(--color-transparent);
  // height: var(--viewport-height, 100vmax);
  height: 100svh;
  // max-height: 1080px;

  > * { flex-grow: 1; }

  .contentLayer {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: flex-end;
    width: 60%;
    min-width: fit-content;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 25px;
  }

  .frostedLayer {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200%;
    background-color: var(--color-light-frosted-layer);
  }

  .infoWrapper {
    width: 100%;
  }

  .mainTitle {
    display: inline-block;
    margin-bottom: 10px;
    // font-size: 12.5vw;
    font-size: max(47px, 12.5vw);
    line-height: 0.88;
    font-weight: 900;

    /* text overlay gradient */
    background-color: var(--color-dark);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-transparent);
    background-image: linear-gradient(
      90deg,
      var(--color-light-gradient1),
      var(--color-light-aurora5)
    );
  }

  .techRole {
    display: block;
    font-size: max(20px, 5.5vw);
    line-height: 0.7;
    letter-spacing: -1px;
    font-weight: 400;
    color: var(--color-dark-gray);
    margin-bottom: 50px;
  }

  .socialLinksWrapper {
    text-align: left;
      
    svg {
      // width: 22px;
      width: auto;
      max-height: 24px;
      fill: var(--color-green);
      cursor: pointer;
      transition: fill 0.3s ease;

      &:hover { fill: var(--color-light-aurora3); }
    }
  }

  @include mixins.minWidth(576px) {
    .mainTitle {
      font-size: 68px;
      line-height: 60px;
    }

    .techRole {
      font-size: 30px;
      line-height: 24px;
    }
  }

  @include mixins.tablet {
    // min-height: 100vh;
    // height: auto;
    // aspect-ratio: 16 / 9;

    .contentLayer {
      padding-right: 50px;
    }

    .mainTitle {
      margin-left: -4px;
      font-size: 90px;
      line-height: 80px;
    }

    .techRole {
      margin-left: -4px;
      margin-bottom: 70px;
      font-size: 42px;
      line-height: 32px;
      letter-spacing: -1.7px;
    }

    .socialLinksWrapper {
      text-align: left;
    }
  }
}