@layer reset {
  *:not(svg, svg *, img, canvas, video) {
    all: unset; // carefull, break media alements, so care elements with :not()
    display: revert;
    font-size: revert;
    box-sizing: border-box;
  }
}