@import '../../styles/config';

.AuroraBackground {
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;

  .layer {
    flex-grow: 1;
    position: relative;
    z-index: 0;
    transform: skewX(27deg);
    filter: blur(120px);
  }

  .shape {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .shape:nth-of-type(1) {
    top: 30%;
    left: 25%;
    transform: translate(-60%, -60%);
    background-color: $white; // light
    // background-color: hsl(166, 54%, 15%);
    /* background: transparent; */
    border-radius: 100%;
  }

  .shape:nth-of-type(2) {
    top: 30%;
    left: 75%;
    transform: translate(-40%, -60%);
    background: hsl(152, 100%, 50%); // light
    // background-color: hsl(163, 63%, 43%);
    border-radius: 100%;
  }
  
  .shape:nth-of-type(3) {
    top: 80%;
    left: 75%;
    transform: translate(-40%, -39%);
    background-color: hsl(168, 95%, 43%); // light
    // background-color: hsl(191, 100%, 35%);
    border-radius: 100%;
  }
  
  .shape:nth-of-type(4) {
    top: 80%;
    left: 25%;
    transform: translate(-60%, -39%);
    background-color: hsl(136, 94%, 66%); // light
    // background-color: hsl(149, 81%, 25%);
    border-radius: 100%;
  }

  .shape:nth-of-type(5) {
    left: 40%;
    top: 49%;
    transform:
      translate(-40%, -40%)
      rotateZ(-8deg);
    height: 0;
    width: 0;
    border-top: solid 45vh hsl(174, 100%, 70%);  //light
    border-left: solid 45vw hsla(0, 0%, 100%, 0);
    border-right: solid 86vw hsla(0, 0%, 100%, 0);
    
    // border-top: solid 80px hsl(166, 54%, 15%);
    // border-top: solid 80px  hsl(234deg, 53%, 64%);
    // border-left: solid 150px hsla(0, 0%, 100%, 0);
    // border-right: solid 250px hsla(0, 0%, 100%, 0);
    
    // border-top: solid 45vh hsl(234deg, 53%, 15%);
    // border-top: solid 45vh hsl(200deg, 38%, 77%);
    // border-top: solid 45vh hsl(174, 100%, 50%);
  }
}