@import '../../styles/config';

.ButtonWrapper {
  display: flex;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 2px 4px $shadow;
  transition: background-color 0.3s ease;
  cursor: pointer;

  & > :first-child {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 15px;
    min-width: 145px;
    font-size: 16px;
    font-weight: 700;
    color: $white;
    text-align: center;
  }

  &.primary {
    background-color: $green;

    &:hover { background-color: $green2; }
  }

  &.secondary {
    background-color: $white2;
    border: solid 2px $green;
    
    & > * { color: $green; }

    &:hover {
      background-color: $green;

      & > * { color: $white; }
    }
  }
}
