@import './breakpoints';

/* Responsive Mixins
 ==================================*/

@mixin responsive($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin small {
  @include responsive($small) {
    @content;
  }
}

@mixin medium {
  @include responsive($medium) {
    @content;
  }
}

@mixin large {
  @include responsive($large) {
    @content;
  }
}

@mixin extraLarge {
  @include responsive($extraLarge) {
    @content;
  }
}

/* Common Styles
==============================*/
@mixin maintitle {
  font-size: 36px;
  color: $darkGray;

  @include medium {
    font-size: 42px;
  }
}

@mixin subtitle {
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 36px;
  color: $darkGray;

  @include medium {
    text-align: left;
    font-size: 32px;
  }
}